<ul class="friend-list">
  <% friends.each do |friend| %>
    <li>
      <%= link_to friend_path(friend),
        data: {
          turbo_frame: "bottom_sheet",
          action: "click->sheet#open"
        } do %>
        <%= friend.name %>
        <% if event = friend.active_event %>
          <small><%= event.event_topic.description %></small>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>