:root {
  --base-size: 18px;
}

html {
  font-family: 'Cabin';
  font-size: var(--base-size);
  color: var(--fg);

  line-height: 1.5;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

small {
  font-size: 14px;
  color: var(--mild-fg);
}

.app-logo {
  font-family: 'Galindo';
  line-height: 82%;
  font-size: 48px;
  text-transform: uppercase;
  max-width: 4ch;
  overflow-wrap: anywhere;
  text-align: center;
}