<div>
  <div data-sheet-target="backdrop" class="sheet-backdrop hidden"></div>

  <div data-sheet-target="panel" class="bottom-sheet hidden container">
    <turbo-frame id="bottom_sheet" class="sheet-frame"></turbo-frame>
  </div>
</div>