.container {
  max-width: 414px;
  padding: 60px;
  margin: auto;
}

.vertical {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-height: 100%;
}

.vertical--fill {
  min-height: 100%;
}

.spacer {
  flex-grow: 1;
}

.gap-24 {
  gap: 24px;
}

.gap-48 {
  gap: 48px;
}