<h1>Rolezera</h1>

<p>Marque rolês com seus amigos</p>

<script src="https://accounts.google.com/gsi/client" async></script>
<div id="g_id_onload"
    data-client_id=<%= Rails.application.credentials.gcp.oauth_client_id %>
    data-login_uri=<%= auth_url.sub("127.0.0.1", "localhost") %>
    data-auto_prompt="false">
</div>
<div class="g_id_signin"
    data-type="standard"
    data-size="large"
    data-theme="outline"
    data-text="sign_in_with"
    data-shape="rectangular"
    data-logo_alignment="left">
</div>